<div class='header'>
  <div class='het-atoom'>
    Het Atoom
  </div>
  <Svg::ArrowRight />
  <div class='id'>
    b
  </div>
  <h1>
    Historie Energie Voorziening
  </h1>
</div>

<Menu @model={{@model}} />

{{yield}}