<div class='intro'>
  <div class='illustration'>
    <div style={{this.illustrationStyle}}>
      <Svg::AtoomIllustration />
    </div>
  </div>
  <div class='logo'>
    <div>
      <Svg::HetAtoom />
    </div>
  </div>
</div>

{{yield}}