ul.chapters {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  max-width: 1200px;

  > li {
    position: relative;
    margin: 50vh 2rem;

    .id {
      color: $blue;
      position: absolute;
      width: 90px;
      left: 0;
      top: 0;
    }

    h1 {
      padding: 0.5rem 1rem;
      text-align: center;
      background-color: white;
    }

    .chapter-part {
      margin: 25vh 0;

      .alignment {
        padding: 0.5rem 1rem;
        background-color: white;
        &.alignment-center {
          max-width: 200px;
          margin: 1rem auto;
        }
        &.alignment-left {
          max-width: 200px;
          margin-right: auto;
        }
        &.alignment-right {
          max-width: 200px;
          margin-left: auto;
        }
      }
    }

    &:first-child {
      h1 {
        background-color: transparent;
      }
    }
    &:last-child {
      min-height: 100vh;
    }
  }
}
