.header {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: $header-height;
  background-color: white;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  @include transition(color 0.2s);

  .title {
    height: 42px;
    .id {
      margin-left: 20px;
      width: 52px;
      float: left;
    }
    h1 {
      margin: 0;
      float: left;
    }
    @include clearfix;
  }

  .het-atoom-title {
    height: 42px;
    position: relative;
    .logo {
      position: absolute;
      z-index: 2;
      right: 32px;
      top: 0;
      svg {
        @include transition(fill 0.2s);
        width: 183px;
        height: 35px;
      }
    }
    .illustration {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 232px;
      svg {
        width: 35px;
        height: 35px;
        ellipse {
          fill: none;
          stroke: black;
          stroke-width: 8;
        }
        path {
          @include transition(fill 0.2s);
          fill: black;
          stroke: black;
          stroke-width: 40;
          stroke-linecap: round;
        }
      }
    }
  }
  &:hover {
    color: $blue;
    .het-atoom-title {
      svg {
        fill: $blue;
      }
    }
  }
}
