div.menu {
  background-color: white;
  position: fixed;
  top: $header-height;
  left: 0;
  height: 0vh;
  @include transition(height 0.25s);
  z-index: 100;
  overflow-y: auto;

  &.opened {
    @include calc('height', '100vh - ' + $header-height);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0.35rem 0;
      div.id {
        float: left;
        text-align: center;
        width: 64px;
      }
      div.title {
        float: left;
      }
      @include clearfix;
    }
    li:not(.link) {
      color: #d4d4d4;
    }
    li.link {
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }

  a,
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}
