.splash-page {
  position: relative;
  background-color: transparent;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: inherit;
  outline: inherit;
  z-index: 11;
  background-color: white;
  position: fixed;
  top: $header-height;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include calc('height', '100vh - '+$header-height);

  -webkit-transition: height 0.4s ease-out, top 0.4s ease-out;
  -moz-transition: height 0.4s ease-out, top 0.4s ease-out;
  -o-transition: height 0.4s ease-out, top 0.4s ease-out;
  transition: height 0.4s ease-out, top 0.4s ease-out;

  overflow: auto;
  &.hidden {
    top: 50%;
    height: 0;
    overflow: hidden;
  }

  .content {
    @include calc('width', '100% - 4rem');
    max-width: 1200px;
    margin: 2rem auto;

    button {
      border-radius: 2px;
      border: 2px solid $blue;
      background: none;
      background-color: white;
      cursor: pointer;
      font: inherit;
      outline: inherit;
      display: block;
      text-align: center;
      margin: 0 auto;

      -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
      -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
      -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
      transition: color 0.2s ease-out, background-color 0.2s ease-out;

      &:hover {
        color: white;
        background-color: $blue;
      }
    }
  }

  @media screen and (max-width: $phone-portrait) {
    &:not(.hidden) {
      top: $header-height-mobile;
      @include calc('height', '100vh - '+$header-height-mobile);
    }
  }
}
