ul.timeline {
  .timeline-segment,
  .timeline-segment .video-player,
  .timeline-segment .image-element {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .container {
      margin: 0 auto;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    video {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.timeline-debug {
  position: fixed;
  top: 24px;
  right: 20px;
  font-size: 42px;
  color: pink;
  z-index: 1000;
}

.timeline-progress {
  width: 24px;
  height: 100vh;
  position: fixed;
  top: 24px;
  right: 12px;
  @include calc('height', '100vh - 48px');
  z-index: 1001;

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-top: -12px;
    background-color: pink;
  }
}
